<div
  class="border-b border-gray-900/10 mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:flex mt-40 lg:items-center lg:gap-x-10 lg:px-8 lg:py-40"
>
  <h2 class="text-base font-semibold leading-7 text-gray-900">
    Customize Your MoodTunes Experience
  </h2>
  <p class="mt-1 text-sm leading-6 text-gray-600">
    You're in control! Choose your favorite sources for music, devices, and more.
  </p>

  <div class="mt-4 space-y-10">
    <fieldset>
      <legend class="text-sm font-semibold leading-6 text-gray-900">
        Select Your Favorite Music Genres
      </legend>
      <div class="mt-6 space-y-6">
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <input
              [(ngModel)]="pop"
              id="pop"
              name="pop"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
            />
          </div>
          <div class="text-sm leading-6">
            <label for="pop" class="font-medium text-gray-900">Pop</label>
            <p class="text-gray-500">
              Unlock the latest Pop music releases, stay informed on trending hits, and discover new
              artists as they rise to fame.
            </p>
          </div>
        </div>
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <input
              [(ngModel)]="rock"
              id="rock"
              name="rock"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
            />
          </div>
          <div class="text-sm leading-6">
            <label for="rock" class="font-medium text-gray-900">Rock</label>
            <p class="text-gray-500">
              Embrace the essence of Rock music, from heavy guitar solos to groovy drum beats.
            </p>
          </div>
        </div>
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <input
              [(ngModel)]="hiphop"
              id="hiphop"
              name="hiphop"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
            />
          </div>
          <div class="text-sm leading-6">
            <label for="hiphop" class="font-medium text-gray-900">Rap & Hip-Hop</label>
            <p class="text-gray-500">
              Discover the freshest rhymes, feel the pulsating beats, and stay updated on the latest
              happenings in the scene.
            </p>
          </div>
        </div>
        <div class="relative flex gap-x-3">
          <div class="flex h-6 items-center">
            <input
              [(ngModel)]="electronic"
              id="electronic"
              name="electronic"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
            />
          </div>
          <div class="text-sm leading-6">
            <label for="electronic" class="font-medium text-gray-900">Electronic</label>
            <p class="text-gray-500">
              Enter the dynamic universe of Electronic music, from pulsing synths to mesmerizing
              drops.
            </p>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="mt-6 flex items-center justify-end gap-x-6">
  <button
    (click)="save('skip')"
    type="button"
    class="text-sm font-semibold leading-6 text-gray-900"
  >
    Skip
  </button>
  <button
    (click)="save()"
    type="submit"
    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
  >
    Save
  </button>
</div>
