@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.amplify-button--primary {
  background: rgb(79 70 229 / 1) !important;
}

.amplify-button--primary:hover {
  opacity: 0.9 !important;
}

.amplify-tabs__item:hover{
  color: rgb(79 70 229 / 1) !important;
  opacity: 0.8;
}

.amplify-tabs__item--active{
  color: rgb(79 70 229 / 1) !important;
  border-color:rgb(79 70 229 / 1) !important;

}
.amplify-button--small{
    color: rgb(79 70 229 / 1) !important;
    cursor: pointer !important;
}
.amplify-button--small:hover{
    background-color:  transparent !important;
}

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
